{% extends "base.html" %}

{% block nav %}
<li><a href="{% url 'pypi.views.index' %}" class="active">Packages</a></li>
{% endblock %}

{% block content %}
<table id="packages" class="table table-striped">
	<thead>
		<tr>
			<th>Package</th>
			<th>Latest Version</th>
			<th>Uploaded</th>
			<th>Description</th>
		</tr>
	</thead>
{% for package in packages %}
	<tr>
		<td><a href="{% url 'pypi.views.package' package=package.name %}">
			{{ package.name }}
		</a></td>
		<td><a href="{% url 'pypi.views.release' package=package.name version=package.latest.version %}">
			{{ package.latest.version }}
		</a></td>
		<td>{{ package.latest.distribution.created }}</td>
		<td>{{ package.latest.distribution.summary }}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}
