Django == 4.2.16
boto3 == 1.35.11
celery == 5.4.0
crispy-forms-bootstrap2 == 2024.1
django-crispy-forms == 2.3
packaging == 24.1
packaging-legacy == 23.0.post0
python-dateutil == 2.9.0.post0
readme-renderer[md] == 43.0
redis[hiredis] == 5.0.8
sentry-sdk == 2.13.0
yoconfigurator == 0.5.2

# Development dependencies:
pytest == 8.3.2
pytest-django == 4.9.0
pytest-spec == 4.0.0
