Django==1.11.5
Pygments==2.2.0
boto==2.48.0
celery==4.1.1
django-crispy-forms==1.6.1
django-nose==1.4.5
docutils==0.14
packaging==16.8
python-dateutil==2.6.1
raven==6.1.0
redis==2.10.6
spec==1.4.1
yoconfigurator==0.5.2
