<VirtualHost *:80>

     ServerName {{gconf.sites.yolapi.domain}}
     {{if conf.deploy.apache2.aliases }}
     ServerAlias {{for a in conf.deploy.apache2.aliases}} {{a}} {{endfor}}
     {{endif}}

     WSGIScriptAlias {{conf.deploy.apache2.wsgi_webpath}} /srv/www/yolapi.wsgi

     Alias {{conf.deploy.apache2.static_webpath}} {{conf.deploy.install_path}}/yolapi/static

</VirtualHost>
