description "YolaPI Celery Worker"

start on runlevel [2345]
stop on runlevel [!2345]

# http://superuser.com/a/234541
exec su -s /bin/sh -c 'exec "$0" "$@"' www-data -- \
    {{conf.deploy.root}}/yolapi/live/virtualenv/bin/python \
    {{conf.deploy.root}}/yolapi/live/yolapi/manage.py \
    celery worker --quiet \
                  --time-limit=1800 \
                  --logfile {{aconf.path.celery_log}} \
                  --loglevel INFO

respawn
respawn limit 10 5
