[uwsgi]
plugin = python3
project = yolapi
base = {{ conf.deploy.root }}/%(project)/live

chdir = %(base)/%(project)
virtualenv = %(base)/virtualenv
module = yolapi.wsgi:application

auto-procname = true
master = true
processes = 5

socket = {{ aconf.path.uwsgi_socket }}
chmod-socket = 700
vacuum = true

logto = {{ aconf.path.uwsgi_log }}

buffer-size = 8192
