{% extends "base.html" %}
{% load static %}

{% block nav %}
<li><a href="{% url 'pypi:index' %}" class="active">Packages</a></li>
{% endblock %}

{% block content %}
<table id="packages" class="table table-striped sortable">
    <thead>
        <tr>
            <th>Package</th>
            <th>Latest Version</th>
            <th>Uploaded</th>
            <th>Description</th>
        </tr>
    </thead>
{% for package in packages %}
    {% with latest_release=package.latest %}
        <tr>
            <td><a href="{% url 'pypi:package' package=package.name %}">
                {{ package.name }}
            </a></td>
            <td><a href="{% url 'pypi:release' package=package.name version=latest_release.version %}">
                {{ latest_release.version }}
            </a></td>
            <td>{{ latest_release.distribution.created|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ latest_release.summary }}</td>
        </tr>
    {% endwith %}
{% endfor %}
</table>
<script src="{% static 'js/sorttable.js' %}"></script>
{% endblock %}
