{% extends "base.html" %}

{% block nav %}
<li><a href="{% url 'pypi.views.index' %}">Packages</a></li>
<li><a href="{% url 'pypi.views.package' package=release.package %}">{{ release.package.name }}</a></li>
<li><a href="#" class="active">{{ release.version }}</a></li>
{% endblock %}

{% block content %}
<div class=row">
    <div class="span4">
        <h2>Files</h2>
        <ul>
        {% for distribution in release.distributions.iterator %}
            <li>
                <a href="{{ distribution.content.url }}#md5={{ distribution.md5_digest }}">
                    {{ distribution.filename }}
                </a>
                <a class="delete"
                {% if distribution.tag %}
                   data-url="{% url 'pypi.views.delete' package=release.package.name version=release.version filetype=distribution.filetype tag=distribution.tag %}"
                {% elif distribution.pyversion %}
                   data-url="{% url 'pypi.views.delete' package=release.package.name version=release.version filetype=distribution.filetype pyversion=distribution.pyversion %}"
                {% else %}
                   data-url="{% url 'pypi.views.delete' package=release.package.name version=release.version filetype=distribution.filetype %}"
                {% endif %}
                   data-package="{{ release.package.name }}"
                   data-version="{{ release.version }}"
                   data-filetype="{{ distribution.filetype }}"
                   data-pyversion="{{ distribution.pyversion }}"
                   data-tag="{{ distribution.tag }}"
                   href="#">
                   <i class="icon-remove"></i>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="span8">
        <h2>Metadata</h2>
        <table class="table table-striped">
        {% for k, v in metadata %}
            <tr>
                <th>{{ k }}</th>
                <td>
                    {% if k == 'Description' %}
                        {{ v }}
                    {% else %}
                        {{ v|urlize|linebreaks }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div class="modal hide fade" id='confirm-deletion'>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm deletion</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure that you want to delete:</p>
            <dl>
                <dt>Package:</dt>
                <dd class="package"></dd>
                <dt>Version:</dt>
                <dd class="version"></dd>
                <dt>File Type:</dt>
                <dd class="filetype"></dd>
                <dt>Python Version:</dt>
                <dd class="pyversion"></dd>
                <dt>Tag:</dt>
                <dd class="tag"></dd>
            </dl>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
{% endblock %}
