<!DOCTYPE html>{% load static %}
<html>
    <head>
        <title>
            {% block title %}{{ title }}{% endblock %}
        </title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/syntax-highlights.css' %}" rel="stylesheet">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <a class="brand" href="/">YolaPI</a>
                <ul class="nav">
                    {% block nav %}
                    {% endblock %}
                </ul>
                <ul class="nav pull-right">
                    <li><a class="post" data-url="{% url 'sync' %}"
                           data-started="Requesting Sync..." href="#">Sync</a></li>
                    <li><a href="{% url 'importer:index' %}">Import</a></li>
                </ul>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/yolapi.js' %}"></script>
    </body>
</html>
