<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}{{ title }}{% endblock %}
		</title>
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
	{% block extra_head %}{% endblock %}
	</head>
<body>
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<a class="brand" href="/">YolaPI</a>
			<ul class="nav">
				{% block nav %}
				{% endblock %}
			</ul>
			<ul class="nav pull-right">
				<li><a href="{% url 'yolapi.importer.views.index' %}">Import</a></li>
			</ul>
		</div>
	</div>
{% block content %}
{% endblock %}
</body>
</html>
